    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#!/menu/{{dish._id}}">
                            <img class="media-object img-thumbnail" ng-src={{dish.image}} 
                                 alt="Uthapizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger label-xs">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span></h2>
                            <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <h4><b>Customer Comments</b><span class="small"> Sort by: </span><input type="text" ng-model="orderBy"></h4>
                <div ng-repeat="comment in dish.comments | orderBy:orderBy">
                    <blockquote>
                        <p>{{comment.rating}} Stars</p>
                        <p>{{comment.comment}}</p>
                        <footer>
                            {{comment.author}}, {{comment.date | date:'MMM. dd, yyyy'}}
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <ul class="list-unstyled" ng-show="!commentForm.$invalid">
                    <blockquote>
                        <p>{{myComment.rating}} Stars</p>
                        <p>{{myComment.comment}}</p>
                        <footer>
                            {{myComment.author}}
                        </footer>
                    </blockquote>
                </ul>
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                     <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="myComment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Author is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stars" class="col-sm-2 control-label">Number of Stars</label>
                            <div class="col-sm-10" id="stars">
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="star1" value="1" ng-model="myComment.rating"> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="star2" value="2" ng-model="myComment.rating"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="star3" value="3" ng-model="myComment.rating"> 3
                                </label>                        
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="star4" value="4" ng-model="myComment.rating"> 4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="star5" value="5" checked ng-model="myComment.rating"> 5
                                </label>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                            <textarea class="form-control" id="comment" name="comment" rows="10" ng-model="myComment.comment" required></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Author is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                    	<label for="spacing" class="col-sm-2 control-label"></label>
                    	<div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-sm"  ng-disabled="commentForm.$invalid">Submit comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
